html,
body,
.wrapper {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font: 1rem/1.516 "Montserrat", Arial, sans-serif;
}

.wrapper {
  position: relative;
  /* background: url(https://images.unsplash.com/photo-1620841713108-18ad2b52d15c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center center/cover; */
  background:url("bg.jpg") no-repeat center center/cover;
}
.wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 70, 70, 0.25);
  filter: opacity(1 0%);
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
}

.header__logo {
  max-width: 65px;
  fill: #fff;
}

.content {
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
}
.content h1 {
  margin-top: 0;
}
.content form {
  margin: auto;
  display: table;
}
.content input {
  float: left;
  font-size: 16px;
  border: 1px solid #fff;
}

.content input[type=submit] {
  padding: 12px 24px;
  color: white;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.235s ease-in-out;
  border-width: 4px;
  border-color: green;
}
.content input[type=submit]:hover {
  color: white;
  background: green;
  border-color: white;
}

.countdown {
  margin: auto;
  display: table;
  font-size: 100px;
  font-weight: 500;
  text-shadow: 4em;

}
.countdown > div {
  float: left;
  min-width: 80px;
  margin-right: 12px;
  /* border-bottom: 5px solid white; */
  text-shadow: 5px rgb(0, 0, 0);
}
.countdown span {
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
}
.countdown span:before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 20px;
  height: 1px;
  background: #fff;
}
.number {

  padding: 5px;
  margin: 5px;

}

footer {
  padding-bottom: 12px;
  bottom: 0;
}

.footer__links {
  text-align: center;
  list-style-type: none;
}
.footer__links li {
  display: inline-block;
}
.footer__links li:nth-of-type(n+2) {
  margin-left: 12px;
}
.footer__links a {
  padding: 8px 0;
  display: block;
  width: 41px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 50%;
  transition: opacity 0.235s ease-in-out;
}
.footer__links a:hover {
  opacity: 0.5;
}
.launch{
  color: #0b7010;
}
.footer__links .fa {
  vertical-align: middle;
  font-size: 21px;
}
@media screen and (max-width:768px){
  .countdown {
    margin: auto;
    display: flex;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 4em;
  
  } 
  .countdown > div {
    float: left;
    min-width: 80px;
    margin-right: 5px;
    text-shadow: 5px rgb(0, 0, 0);
  }
  .countdown > span {
    margin-top: 30px;
  }

  .number {
    border: 4px solid rgb(23, 181, 39);
    border-radius:60%;
    padding: 5px;
    margin: 5px;
    filter: drop-shadow(20px);

  }
  
  
} 